<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{home.title}"></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>-->
    <link href="/stylesheets/icons.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/home.css" type="text/css" rel="stylesheet" media="screen,projection"/>


    <link th:href="${canonical}" rel="canonical"/>
    <meta name="robots" content="index,follow"/>
    <meta name="description" th:content="#{home.meta.description}" />


    <meta property="og:title" th:content="#{home.title}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" th:content="${canonical}" />
    <meta property="og:description" th:content="#{home.meta.description}" />

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" th:content="${canonical}"/>
    <meta name="twitter:title" th:content="#{home.title}"/>
    <meta name="twitter:description" th:content="#{home.meta.description}"/>

    <link th:href="${url}"/>

    <link th:each="state : ${T(com.javabeast.domain.Language).values()}" th:value="${state}"
          th:href="${url} + '?lang=' + ${state.displayName}"/>


</head>

<body>
<div th:with="currentUrl=(${#httpServletRequest.requestURI + '?' + #strings.defaultString(#httpServletRequest.queryString, '')})">
    <a th:href="@{${currentUrl}(myparam=test)}">click here</a>
</div>

<nav class="white">
    <div class="nav-wrapper white">
        <div class="container">
            <div class="row" style="height:100px">
                <a href="#" class="brand-logo" th:text="${nombre}">JQ</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down teal-text accent-3">
                    <li><a href="#about">About</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<main>

    <div class="container hide-on-large-only">
        <div class="row teal-text accent-3">
            <div class="col s4 m2 offset-m3 center"><a href="#about">About</a></div>
            <div class="col s4 m2 center"><a href="#pricing">Pricing</a></div>
            <div class="col s4 m2 center"><a href="">Login</a></div>
        </div>
    </div>

    <div id="hero" style="height: 766px;">
        <div class="container" id="hero-text-container">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 id="hero-title" itemprop="description" style="font-size: 36px;"><strong class="bold">JQ
                    </strong><span
                            class="thin"> is the simplest way for any man<br/> to reach his JQ goal</span>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="center-align">
                        <a href="#create" class="btn btn-large create-list-link hero-btn">Get Started
                            <svg style="width:24px;height:24px;top: 6px; position: relative; right: 2px;"
                                 viewBox="0 0 24 24">
                                <path fill="#ffffff"
                                      d="M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z"></path>
                            </svg>


                        </a>
                        <a href="#learn" class="btn btn-large white grey-text hero-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="container">
        <!-- Testimonial -->
        <div class="row hide-on-small-only">
            <div class="col s12 m4 testimonial">
                <div class="black-text">"It's so simple -- as both a manager and a user. And it doesnt have too many
                    bells and whistles that make things confusing. Just the right price too."
                </div>
                <div class="grey-text text-lighten-1">Scott<br/>California, United States</div>
            </div>
            <div class="col s12 m4 testimonial">
                <div class="black-text">"Makes group email lists really easy to use and administer - Fast and reliable -
                    Constantly improving - Great web design."
                </div>
                <div class="grey-text text-lighten-1">Sam<br/>Brighton, England</div>
            </div>
            <div class="col s12 m4 testimonial">
                <div class="black-text">"Gaggle mail is working well for a small nonprofit group that I support. It is
                    perfect for creating a distribution list that we can all send to."
                </div>
                <div class="grey-text text-lighten-1">Jessica<br/>Texas, United States</div>
            </div>
        </div>
        <div class="divider hide-on-small-only"></div>

        <!-- Create List -->
        <div class="row" id="create-row">
            <span id="create" class="scrollspy"></span>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="row">
                <div class="section center">
                    <h3 class="thin">Create your <strong class="bold">free</strong> account now.</h3>
                    <p class="flow-text">Upgrade to a premium account from just <span
                            class="materialize-red-text lighten-2">$10 per year</span>.
                    </p>
                </div>
            </div>

            <div id="create-list-login-container" class="row create-list-button disabled">
                <div class="col s12 m6 l6  offset-m3 offset-l3 create-list-login-right">
                    <div class="create-list-login-panel center">
                        <div>
                            <input class="new-list-name-hidden" type="hidden" name="new-list-name" value=""/>
                            <div class="center">
                                <p class="flow-text">Create your account.</p>
                            </div>
                            <div class="row">
                                <div class="col s12 input-field">
                                    <input id="new-your-email" name="new-your-email" type="email"/>
                                    <label for="new-your-email">Your email address</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 input-field">
                                    <input id="new-your-password" name="new-your-password" type="password"/>
                                    <label for="new-your-password">Pick a password</label>
                                </div>
                            </div>
                            <div class="row center">
                                <button class="btn" id="create-account-btn">Create Account</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center">
                <a href="/terms">Terms and conditions</a>
            </div>
        </div>
        <div class="divider"></div>

        <!-- Getting Started -->
        <div class="row" id="getting-started-with-group-email">
            <div class="spacer"></div>
            <div class="spacer"></div>
            <h3 class="thin center">Getting Started with JQ</h3>
            <div class="spacer"></div>
            <ul class="section" id="getting-started-list">
                <li class="flow-text"><strong class="bold">Create your account</strong> to access your personal
                    dashboard.
                </li>
                <li class="flow-text"><strong class="bold">Select a program</strong> that suites your growth goals.
                </li>
                <li class="flow-text"><strong class="bold">Start working out</strong> and enjoying the growth gains.
                </li>
            </ul>

            <div class="section" id="getting-started-more-list">
                <p class="flow-text">Create customize workouts, tailored exactly to your needs with the
                    <a href="/workout-builder">Workout Builder</a>.</p>

                <p class="flow-text">View your <a href="/delivery-reports">Progress Reports</a>
                    help to track on track with your JQ goals.</p>

                <p class="flow-text">Share workouts anonymously with other members from your
                    <a href="/workout-builder">Personal Dashboard</a>.</p>

                <p class="flow-text">Never miss a training session again with discrete
                    <a href="/workout-reminders">Workout Reminders</a>.</p>
            </div>

            <div class="center section">
                <a href="#create" class="btn btn-large create-list-link hero-btn">Get Started now
                    <svg style="width:24px;height:24px;top: 6px; position: relative; right: 2px;" viewBox="0 0 24 24">
                        <path fill="#ffffff"
                              d="M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="divider-big"></div>

        <!-- Make Group Email Easier -->
        <div class="row" id="learn-more">
            <div class="spacer"></div>
            <div class="spacer"></div>
            <span id="learn" class="scrollspy"></span>
            <h2 class="thin center">Why use JQ?</h2>
            <div class="spacer"></div>
            <div>
                <p class="flow-text"><strong class="bold">JQ </strong> is a powerful tool but it's not always
                    been that easy to track.</p>
                <p class="flow-text">This is a bit of placeholder text, pretty good for padding out a sentence but not
                    really providing anything
                    that a user would really want to read.</p>
                <p class="flow-text">This is a bit of placeholder text, pretty good for padding out a sentence but not
                    really providing anything
                    that a user would really want to read.</p>
                <p class="flow-text">Thousands of people have already chosen <strong class="bold">JQ</strong>
                    , create your <strong class="bold"> free account </strong> now
                    then prices start from just <strong class="bold">$10 per year</strong>.</p>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="center">
            <a href="#create" class="btn btn-large create-list-link hero-btn">Create your account
                <svg style="width:24px;height:24px;top: 6px; position: relative; right: 2px;" viewBox="0 0 24 24">
                    <path fill="#ffffff"
                          d="M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z"></path>
                </svg>


            </a>
        </div>

        <div class="divider-big"></div>


        <!-- Feature List -->
        <div class="row center" id="feature">
            <span id="features" class="scrollspy"></span>
            <h3 class="thin">Lots Of Features.</h3>
            <div class="section"></div>
            <div id="feature-table" class="card light">

                <div class="feature-item">
                    <p class="flow-text"><a href="/online-signup">Easy To Use</a><i
                            class="mdi-navigation-check"></i>
                    </p>
                </div>

                <div class="feature-item">
                    <p class="flow-text"><a href="/message-archive">Simple Tutorials</a><i
                            class="mdi-navigation-check"></i></p>
                </div>

                <div class="feature-item">
                    <p class="flow-text"><a href="/custom-email-footer">Progress Tracking</a><i
                            class="mdi-navigation-check"></i></p>
                </div>

                <div class="feature-item">
                    <p class="flow-text"><a href="/online-signup">Private Dashboard</a><i
                            class="mdi-navigation-check"></i>
                    </p>
                </div>

                <div class="feature-item">
                    <p class="flow-text"><a href="/message-archive">Exercise Timers</a><i
                            class="mdi-navigation-check"></i></p>
                </div>

                <div class="feature-item">
                    <p class="flow-text"><a href="/delivery-reports">Workout Builder</a><i
                            class="mdi-navigation-check"></i></p>
                </div>

                <div class="feature-item">
                    <p class="flow-text"><a href="/daily-digest-email">Reminders</a><i
                            class="mdi-navigation-check"></i></p>
                </div>


                <a href="#create" class="btn btn-large create-list-link">Get Started
                    <svg style="width:24px;height:24px;top: 6px; position: relative; right: 2px;" viewBox="0 0 24 24">
                        <path fill="#ffffff"
                              d="M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z"></path>
                    </svg>


                </a>
            </div>
            <div class="section"></div>
        </div>
        <div class="divider-big"></div>

        <!-- Pricing -->
        <div class="row center scrollspy" id="pricing">
            <div class="spacer"></div>
            <div class="spacer"></div>
            <h3 class="thin">Simple Pricing.</h3>
            <div class="section"></div>

            <div class="section">
                <p class="flow-text">All plans include <strong class="bold">all features</strong>.</p>
                <p class="flow-text">Create your <strong class="bold">free account</strong> then choose a plan that
                    grows with your JQ needs.</p>
            </div>
            <div class="row section">
                <div class="col s12">
                    <button id="annual-billing" class="center pill selected" href="#">Annual Billing</button>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4 l2 pricing-panel">
                    <div class="pricing-member-count">Full</div>
                    <div class="pricing-member-label">Member</div>
                    <div class="pricing-price">
                        <span class="pricing-price-yearly">$10 / year<br/></span></div>
                </div>
            </div>

            <div class="section center">
                <a href="#create" class="btn btn-large create-list-link hero-btn">Create your free account
                    <svg style="width:24px;height:24px;top: 6px; position: relative; right: 2px;" viewBox="0 0 24 24">
                        <path fill="#ffffff"
                              d="M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z"></path>
                    </svg>


                </a>
            </div>
        </div>
        <div class="divider-big"></div>

        <!-- If you can use email... -->
        <div class="row" id="simple">
            <h3 class="thin center">"If you have hands, you can use JQ too."</h3>
            <div class="spacer"></div>
            <p class="flow-text">This is a bit of placeholder text, pretty good for padding out a sentence but not
                really providing anything
                that a user would really want to read.</p>

            <p class="flow-text">This is a bit of placeholder text, pretty good for padding out a sentence but not
                really providing anything
                that a user would really want to read.</p>

            <p class="flow-text">This is a bit of placeholder text, pretty good for padding out a sentence but not
                really providing anything
                that a user would really want to read.</p>
            <div class="spacer"></div>
            <div class="center">
                <a href="#create" class="btn btn-large create-list-link hero-btn">Create your free account now
                    <svg style="width:24px;height:24px;top: 6px; position: relative; right: 2px;" viewBox="0 0 24 24">
                        <path fill="#ffffff"
                              d="M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z"></path>
                    </svg>


                </a>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
</main>

<footer class="page-footer white">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">I'm a software engineer working on this project like it's
                    my full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>
            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>

<!--  Scripts-->
<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize.js"></script>
<script src="/javascripts/init.js"></script>
<script src="/javascripts/home_all-min.js"></script>
</body>
</html>